.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 800px;
    width: 450px;
    border-radius: 10px;
    padding: 4vh 2vw 2vh 2vw;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0px 36px -8px rgba(255, 255, 255, 0.05);
    transition: transform 0.3s;
}
.card h3{
    margin-bottom: 2rem;
    color: #e6e6e6;
    font-size: calc(2rem + 2vw);
}
.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(0.5rem + 1vw);
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #00000035;
    transition: all 0.4s ease;
}
.card img{
    filter:invert(1);
    width: 12vw;
    min-width: 300px;
}
.card button:hover {
    color:#4fc541;
}
.card p{
    color: #e6e6e6;
    font-size: calc(1.5rem + 0.4vw);
    line-height: 120%;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 768px) {
    .card {
        height: 60vh;
        margin-bottom: 10vh;
    }
    .card h3{
        font-size: 3.5rem;
    }
    .card p{
        font-size: 2rem;
    }
    .card button{
        font-size: 1.5rem;
    }
    .smallTXT{
        font-size: 0.5rem;
    }
    
}