/* .testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:90%;
    padding: 2vh 1vw;
    margin: 20px;
    border-radius: 2rem;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.imageSection {
    width:30%;
}
.imageSection img {
    width: 100%;
    border-radius: 2rem;
}
/* .textSection {
    width:60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.textSection p {
    font-size: calc(1.5rem + 1vw);
    font-weight: 300;
    color: #4fc541;
    margin-bottom: 5vh;
} 

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.info * {
    margin: 0 1rem 0 0;
}
.name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    color: #454545;
    margin-left: 1rem;
}
.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    color: #000000;
}
.company a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    color: #363636;
    text-decoration: underline;
}
.company a:hover {
    color: rgb(56, 69, 214);
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    .testimonial {
        flex-direction: column-reverse;
        padding: 2vh 1vw 1vh 1vw;
        margin: 0;
    }
    .imageSection {
        width: 90%;
    }
    .textSection {
        width: 100%;
    }
    .textSection p {
        width: 60%;
    }
    .info{
        flex-direction: column;
        text-align: center;
    }
    .company{
        margin-right: 0;
    }
    .company a{
        margin-right: 0;
    }
    .title{
        margin-right: 0;
    }
    
} */