@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --primary-color: #18a52b;
  --secondary-color: #2646c7;
  --off-white: #e6e6e6;
}

:root{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

body{
  height: 100vh;
  width: 100vw;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.93);
  overflow-x: clip;
}

h1{
  font-family: 'Cinzel Decorative', sans-serif;
  /* font-size: calc(3rem + 5vw);
  font-weight: 700;
  color: #fff;
  margin-bottom: 0vh;
  margin-top: 2vh;
  letter-spacing: 3px; */
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(2rem + 2vw);
  font-weight: 400;
  color: #fff;
}
h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: calc(1rem + 2vw);
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 2vh;
}
a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;;
  color: #4fc541;
  text-decoration: none;
  margin-top: 2vh;
  text-decoration: underline;
  transition: all 0.4s ease;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  margin: 0;
}

.gradientText{
  background-image: linear-gradient(-35deg, #4fc541 15%, #ffffff 85%) ;
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px){
  .primaryCTA a{
    font-size:calc(1rem + 2vw);
  }
  .primaryCTA{
    padding: 1rem 2rem 0.7rem 2rem;
  }
  
}