.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:8vh;
    padding: 0 2rem;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); */
    position: absolute;
    z-index: 100;
    width: calc(100vw - 4rem);
    /* backdrop-filter: blur(100px); */
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.links *{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 1rem;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #e6e6e6;
    cursor: pointer;
}
.links a:hover{
    color: #ffffff;
    text-decoration: underline;
    transform: scale(1);
    letter-spacing: 2px;
}

.brand *{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
}
.brand * span{
    font-weight: 700;
    margin-right: 0.3rem;
}
.brand *:hover{
    transform: scale(1);
    letter-spacing: 2px;
    cursor:pointer;
}
.menu{
    display: flex;
    cursor: default;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    margin:0;
    width: 100vw;
    height: 40vh;
    padding: 30vh 0;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 100;
    opacity: 1;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0.65) 100%);
    backdrop-filter: blur(100px);
    transition: all 0.3s ease;
    animation: enterFromRight 0.3s cubic-bezier(0,0.4,0.6,1) forwards;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 66%);
    mask-size: 300%;
}
@keyframes enterFromRight{
    from{
        mask-position: 0% 0%; 
    }
    to{
        mask-position: 100% 0%;
    }
}
.exit{
    mask-position: 0% 0%;
    opacity: 0; 
}
.menu *{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: right;
    padding: 0 5vw;
}
.menuClose{
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
}
.menu * p{
    opacity: 0;
    transition: all 0.5s cubic-bezier(0,0.4,0.6,1);
    color: #ffffff;
}
.menu * p:hover{
   letter-spacing: 0.15rem;
    font-weight: 800;
}
.menuImage{
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    right:0;
    width: 40vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    transform: translate(75%, 0%);
    box-shadow: 0px 0px 50px -5px #18a52b30;
    
}
.menuImage img{
    height: 100%;
    object-fit: cover;
    object-position: right;
    padding: 0;
    margin: 0;
    filter: grayscale(50%) brightness(35%) blur(5px);
}
.menuBrand{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    position: fixed;
    bottom: 0;
    right: 5vw;
}
.menuBrand *{
    width: 10vw;
    height: 10vw;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: row;
        margin-top: 2vh;
        padding: 0 1rem;
        justify-content: space-between;
        width: calc(100vw - 2rem);
    }
    .menu{
        align-items: center;
        padding: 10vh 0;
        height: 80vh;
    }
    .menu div *{
        text-align: center;
        margin: 2vh 0;
    }
    .menu div {
        height: 20%;
        justify-content: center;
    }
    .brand{
        max-width: 50%;
    }
    .brand a p{
        font-size: 1.2rem;
    }
    .menuClose{
        justify-content: flex-start;
    }

}